<div id="backimg" [@fadeInOnEnter]>
  <div class="col-xs-1-12">
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-center title">Welcome Angular with Bootstrap</h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class=" row bg-ligth p-3">

      <div class="col-6">
        <div class="card mb-3">
          <img
            src="https://images.unsplash.com/photo-1487058792275-0ad4aaf24ca7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            class="card-img-top" alt="...">

        </div>
      </div>
      <div class="col-6">
        <div class="card mb-3">

          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem voluptates ad quae ab
              animi
              doloremque voluptatibus eos officia! Ipsam cumque, porro officiis dolore vero odio animi fugiat eligendi
              unde
              fugit!
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo dolorem harum mollitia odio nobis ullam,
              molestiae
              ducimus illum magnam quam aliquid repellat, deserunt inventore quis aperiam reprehenderit repudiandae
              commodi
              deleniti!


              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex alias, maxime animi hic dolore, cum numquam
              ea
              praesentium id modi eligendi nostrum natus architecto explicabo quibusdam corrupti ducimus repellendus
              quis?</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class=" row bg-opaciti-blue p-3">

      <div class="col-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem voluptates ad quae ab
              animi
              doloremque voluptatibus eos officia! Ipsam cumque, porro officiis dolore vero odio animi fugiat eligendi
              unde
              fugit!
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo dolorem harum mollitia odio nobis ullam,
              molestiae
              ducimus illum magnam quam aliquid repellat, deserunt inventore quis aperiam reprehenderit repudiandae
              commodi
              deleniti!


              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex alias, maxime animi hic dolore, cum numquam
              ea
              praesentium id modi eligendi nostrum natus architecto explicabo quibusdam corrupti ducimus repellendus
              quis?</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

      </div>
      <div class="col-6">

        <div class="card mb-3">
          <img
            src="https://images.unsplash.com/photo-1461749280684-dccba630e2f6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80"
            class="card-img-top" alt="...">

        </div>
      </div>
    </div>

    <div class=" row bg-ligth p-3 mt-5">

      <div class="col-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem voluptates ad quae ab
              animi
              doloremque voluptatibus eos officia! Ipsam cumque, porro officiis dolore vero odio animi fugiat eligendi
              unde
              fugit!
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo dolorem harum mollitia odio nobis ullam,
              molestiae
              ducimus illum magnam quam aliquid repellat, deserunt inventore quis aperiam reprehenderit repudiandae
              commodi
              deleniti!


              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ex alias, maxime animi hic dolore, cum numquam
              ea
              praesentium id modi eligendi nostrum natus architecto explicabo quibusdam corrupti ducimus repellendus
              quis?</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

      </div>
      <div class="col-6">

        <div class="card mb-3">
          <img
            src="https://images.unsplash.com/photo-1515524738708-327f6b0037a7?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
            class="card-img-top" alt="...">

        </div>
      </div>
    </div>